/* 
 * mininapse
 * lounge theme (fork fork) by MiniDigger
 * https://github.com/MiniDigger/thelounge-theme-mininapse
 */

/*
 * synapse traditional
 * lounge theme (fork) by danieloaks
 * https://github.com/DanielOaks/lounge-synapse
 */

/*
 * neuron dark
 * lounge theme by easymac
 * designed for use with 16 nickname colors
 * i'll make a fork someday.
 */

/* we comment out the following fonts line, and add our changes at the end of the file */
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300italic,300,400italic,600,600italic,700italic,700,900,900italic|Source+Code+Pro:400,900,700,600,500,300,200);*/
/* neuron base16 colors
 * BASE 00: #1C1919
 * BASE 01: #282525
 * BASE 02: #343130
 * BASE 03: #403D3C
 * BASE 04: #8D8484
 * BASE 05: #C5C1C1
 * BASE 06: #EAE9E9
 * BASE 07: #F6F6F6
 * BASE 08: #EF4657
 * BASE 09: #FFB03B
 * BASE 0A: #FFD34E
 * BASE 0B: #88A825
 * BASE 0C: #499E8D
 * BASE 0D: #1695A3
 * BASE 0E: #AD5472
 * BASE 0F: #BD8D46
 */
/* irc colors
 * 0, white: #F6F6F6
 * 1, black: #1C1919
 * 2, blue: #1695A3
 * 4, green: #88A825
 * 5, light red: #EF4657
 * 6, brown: #BD8D46
 * 7, purple: #AD5472
 * 8, orange: #FFB03B
 * 9, yellow: #FFD34E
 * 10, light green: #D5F572
 * 11, cyan: #499E8D
 * 12, light cyan: #7CD1C0
 * 13, light blue: #63E2F0
 * 14, pink: #FF93A4
 * 15, grey: #403D3C
 * 16, light grey: #8E8484
 */
body {
    background-color: #282525;
    font-family: 'Source Sans Pro';
    color: #C5C1C1;
}

#main {
    bottom: 0;
    top: 0;
    right: 0;
    border-radius: 0;
    /* background: #282525;*/
    background: red;
}

#form {
    border: none;
    background-color: #282525;
    padding: 0;
}

#form .inner {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
}

#windows #form .input {
    border-radius: 0;
    background-color: transparent;
    border: none;
    color: #F6F6F6;
}

#form #input {
    border-radius: 0;
    border: none;
    background-color: #282525;
}

#form #submit {
    height: 48px;
    line-height: 48px;
    margin-right: 15px;
}

#footer {
    margin-left: -5px;
    right: 0;
    bottom: 0;
    background-color: transparent;
    width: 220px;
    border-radius: 0;
    text-align: left;
    padding-left: 20px;
}

#chat .count::before {
    right: 28px;
}

#chat .search {
    color: #EAE9E9;
}

#chat .search::-webkit-input-placeholder {
    color: #C5C1C1;
}

#chat, #windows .header {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 30px;
}

#chat .time {
    color: #403D3C;
}

#chat .self .text {
    color: #EAE9E9;
}

#chat .unread-marker::before {
    border-top: 1px solid #EF4657;
}

#chat .unread-marker .unread-marker-text::before {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: #EF4657;
    background-color: #282525;
}

#form #nick {
    background-color: transparent;
    color: #8D8484;
    height: 100%;
    margin: 0;
    margin-right: 10px;
    line-height: 48px;
    padding-right: 0;
}

#chat a {
    color: #1695A3;
}

#chat .from {
    border-right: none;
}

#chat .sidebar {
    background-color: #282525;
    border: none;
}

#chat .count {
    background-color: transparent;
}

#chat .user-mode:before {
    border: none;
}

#chat .notice .time {
    color: #403D3C !important;
}

#chat .notice .text, #chat .chan .notice .user {
    color: #EF4657 !important;
}

#windows #chat .header {
    border: none;
}

#windows .window:before, #windows .chan:before {
    height: 0;
    border: none;
}

#windows .chan, #windows .window {
    background-color: #282525;
}

#sidebar button:hover, #sidebar .chan:hover, #sidebar .chan.active {
    color: #F6F6F6;
}

#sidebar button, #sidebar .chan, #sidebar .sign-out {
    color: #8D8484;
}

#sidebar .chan:first-child {
    padding-left: 5px;
    font-size: 1.1em;
}

#sidebar .chan.lobby:before, #chat .lobby .title:before {
    content: none;
}

#sidebar .chan .name:after {
    background: none;
}

::-webkit-scrollbar {
    display: none;
}

#chat.colored-nicks .user.color-1, #chat.colored-nicks .user.color-17 {
    color: #EF4657;
}

#chat.colored-nicks .user.color-2, #chat.colored-nicks .user.color-18 {
    color: #FF93A4;
}

#chat.colored-nicks .user.color-3, #chat.colored-nicks .user.color-19 {
    color: #FFB03B;
}

#chat.colored-nicks .user.color-4, #chat.colored-nicks .user.color-20 {
    color: #CC7D08;
}

#chat.colored-nicks .user.color-5, #chat.colored-nicks .user.color-21 {
    color: #FFD34E;
}

#chat.colored-nicks .user.color-6, #chat.colored-nicks .user.color-22 {
    color: #CCA01B;
}

#chat.colored-nicks .user.color-7, #chat.colored-nicks .user.color-23 {
    color: #ACF046;
}

#chat.colored-nicks .user.color-8, #chat.colored-nicks .user.color-24 {
    color: #D5F572;
}

#chat.colored-nicks .user.color-9, #chat.colored-nicks .user.color-25 {
    color: #499E8D;
}

#chat.colored-nicks .user.color-10, #chat.colored-nicks .user.color-26 {
    color: #B5FFE1;
}

#chat.colored-nicks .user.color-11, #chat.colored-nicks .user.color-27 {
    color: #35A7FF;
}

#chat.colored-nicks .user.color-12, #chat.colored-nicks .user.color-28 {
    color: #91A6FF;
}

#chat.colored-nicks .user.color-13, #chat.colored-nicks .user.color-29 {
    color: #8A46F0;
}

#chat.colored-nicks .user.color-14, #chat.colored-nicks .user.color-30 {
    color: #FF88DC;
}

#chat.colored-nicks .user.color-15, #chat.colored-nicks .user.color-31 {
    color: #BD8D46;
}

#chat.colored-nicks .user.color-16, #chat.colored-nicks .user.color-32 {
    color: #F0C079;
}

/* *** SYNAPSE CHANGES *** */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:b,i,bi); body {
    font-family: "Open Sans", sans-serif;
}

#chat .user-mode + .user-mode {
    padding-top: 1rem;
}

#chat .user-mode::before {
    display: none;
}

#chat .from {
    min-width: 0;
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: none;
    white-space: nowrap;
}

#chat .from .user::before {
    content: "<";
    color: #444141;
}

#chat .from .user::after {
    content: ">";
    color: #444141;
}

#chat .text {
    padding-left: 0;
}

/* ****** Changes made in Mininapse fork ******* */
#chat .toggle-content.toggle-type-link a::after {
    background: none !important;
    /* no gradient on link preview */
}

#chat .toggle-content {
    background: none !important;
    /* No white image preview */
}

#chat .toggle-content a {
    color: #EAE9E9;
    ; /* Text in white for image preview */
}

#chat .time {
    color: #7D7A79;
    /* Make chat time readable */
}

/* Fix user search bar placeholder */
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
    ; }

/* Url readable */
.irc-fg2 {
    color: #036cd8;
}

#chat .from:after {
    background: none;
    /* No gradient after username */
}

/* Previews */
#chat .toggle-content .thumb, #chat .toggle-content img {
    max-width: 300px;
    max-height: 150px;
    margin-top: -20px;
    margin-bottom: -20px;
}

#chat .toggle-content .body, #chat .toggle-content .head {
    white-space: normal;
}

.toggle-text {
    max-height: 100px;
    margin-top: 30px;
}

.preview {
    white-space: normal;
}

/* Fix date marker */
#chat .date-marker-text::before {
    color: #236b2b;
    background-color: #282525;
}

#chat .date-marker::before {
    border-top: 1px solid #236b2b;
}

/* Make time widget wide enough to fit seconds */
#chat.show-seconds .time {
    width: 76px;
}

/* Prevent chrome from underlining links */
a:-webkit-any-link {
    text-decoration: none;
}

/* Make code boxes stand out less */
code {
    color: #1e1e1e;
    background-color: #b0adae;
}

kbd {
    background-color: #b0adae;
    color: #1e1e1e;
}

/* Make prefetch errors readable */
#chat .toggle-content {
    color: #999;
}

/* Make thumbnails align with text */
#chat .toggle-thumbnail {
    padding-left: 0px;
}

/* Make join-channel box align with network names */
#sidebar .join-form .input {
    margin-left: 5px;
    width: 95%;
}

#sidebar .join-form .btn {
    width: 95%;
    margin-left: 5px;
}

#sidebar .join-form{
    padding: 0 18px 8px 0;
}

/* full line highlights */
#chat .error .from {
	color: #e74c3c;
}

#chat .channel .highlight .text{
    color: #C5C1C1;
}

#chat .channel .message.highlight {
	background-color: rgba(231, 76, 60, 0.5);
}

#chat .channel .message.highlight .from::after {
	background: transparent;
}

@media (max-width: 479px) {
    #chat .channel .message.highlight {
        margin-left: -10px;
		margin-right: -10px;
		padding-left: 10px;
        padding-right: 10px;
	}
    
    #chat .channel .message.highlight .from{
        border: 0;
 		display: inline;
        padding: 0;
    }
}

/* Remove white vertical 1px border between nick and text */
#chat .content {
    border-left: none;
}

/* fix userlist display */
#chat .userlist {
    background: #282525; 
    border-left: none;
}

#chat .userlist .count {
    background: none;
}

/* fix alignment of network names */
#sidebar .chan:first-child {
    margin-left: -20px;
}

#sidebar .network .collapse-network {
    padding-left: 0px;
    width: auto;
}

#sidebar .lobby-wrap { 
    display: flex; 
    flex-grow: unset; 
}

/* fix sidebar color */
#sidebar {
    background: #282525;
}

/* fix user list hover */
#chat .userlist .user.active {
    background-color: #505050;
}

/* ****** Public css mods ****** */
/* Better CSS box */
#user-specified-css-input {
    font-family: monospace;
    height: 400px;
}

/* Compact sidebar */
#sidebar .networks {
    padding: 6px 2px 6px 15px;
}

#sidebar .network {
    margin-bottom: 10px;
}

#sidebar .chan {
    margin-right: 20px;
    padding: 2px 5px 4px 5px;
    width: auto;
}

#sidebar .chan:before {
    display: none;
}

#sidebar .chan .badge {
    margin-top: -1px;
    right: 5px !important;
}

#sidebar .chan .close {
    top: 2px;
    right: -5px;
}

#sidebar .badge, #sidebar .close {
    margin-left: 5px;
    /* margin-right: 5px; */
}

/* Thinner user sidebar */
#chat .sidebar {
    width: 150px
}

@media (min-width: 768px){
    #chat .channel .chat {
        right: 150px;
    }
}

/* Hide bot spam */
#chat .msg[data-from="travis-ci"] .toggle-button,
#chat .msg[data-from="MiniBot"] .toggle-button,
#chat .msg[data-from="Wendy"] .toggle-button,
#chat .msg[data-from="github-status"] .toggle-button {
	transform: rotate(90deg);
}

#chat .msg[data-from="travis-ci"] .toggle-button.opened,
#chat .msg[data-from="MiniBot"] .toggle-button.opened,
#chat .msg[data-from="Wendy"] .toggle-button.opened,
#chat .msg[data-from="github-status"] .toggle-button.opened {
	transform: rotate(0deg);
}


#chat .msg[data-from="travis-ci"] .toggle-content,
#chat .msg[data-from="MiniBot"] .toggle-content,
#chat .msg[data-from="Wendy"] .toggle-content,
#chat .msg[data-from="github-status"] .toggle-content {
    display: inline-flex !important;
}

#chat .msg[data-from="travis-ci"] .toggle-content.show,
#chat .msg[data-from="MiniBot"] .toggle-content.show,
#chat .msg[data-from="Wendy"] .toggle-content.show,
#chat .msg[data-from="github-status"] .toggle-content.show {
    display: none !important;
}

/* Thinner sidebar */
#sidebar,
#footer,
.tse-scroll-content {
    width: 160px /*Change this to choose a width, change #main to the same*/
}

@media (min-width: 768px){
    #main {
        left: 160px;
    }
}

#sidebar div.chan {
    width: 140px /* Change this to roughly 20-30px less than the width */
}

#sidebar .chan .name {
    width: 92px;
    text-overflow: ellipsis;
    margin-right: -6px;	
}

/* Don't display join and insecure icons/tooltips on networks */
.add-channel, .add-channel-tooltip, .not-secure-tooltip, .not-secure-icon {
  display:none;
}

/* Remove green and yellow colour to illustrate if a network is secure or not. Red colour, yes please! */
#sidebar .chan.lobby, #sidebar .not-secure .chan.lobby {
    color: #EF4657;
}

#sidebar .chan.lobby.active, #sidebar .chan.lobby .lobby-wrap:hover, #sidebar .not-secure .chan.lobby.active, #sidebar .not-secure .chan.lobby .lobby-wrap:hover {
    color: #f58383;
}

/* fix active channel growing in size, making your list jump around */
#sidebar .chan.active{
    height: 22px;
}

/* remove logo in sidebar */
#sidebar .logo-container {
    display: none;	
}

/* remove white border on highlights */
#chat .channel .message.highlight .content{
    border-left: none;
}

/* revert hover color */
#sidebar .chan:hover, 
#footer button:hover,
#sidebar .active, 
#sidebar .active:hover {
    background-color: initial;
}

/* change icon colors back */
#viewport .lt, 
#viewport .rt, 
#chat button.menu,
#form #submit {
    color: rgb(197, 193, 193);
}
